<div class="card mb-4">
  <div class="card-header">Shipping Address</div>
  <div class="card-body">
    <div class="mb-2">
      <%= f.text_field :street_address, placeholder: "Street Address", class: "form-control" %>
    </div>
    <div class="mb-2">
      <%= f.text_field :city, placeholder: "City", class: "form-control" %>
    </div>
    <div class="mb-2">
      <%= f.text_field :postal_code, placeholder: "Postal Code", class: "form-control" %>
    </div>
  </div>
</div>