<% if product.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(product.errors.count, "error") %> prevented this product from saving:</h4>
    <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>