<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow">
      <div class="card-body p-4">
        <h1 class="mb-4">Edit Product</h1>
        <%= render "form", product: @product %>
        <%= link_to "Back to Products", admin_products_path, class: "btn btn-outline-secondary mt-2" %>
      </div>
    </div>
  </div>
</div>